@mixin headIcons($h, $l, $r, $al, $ar) {
    background: url('../../assets/images/head/head-icons.png') no-repeat;
    background-size: rem(702) rem(168);
    height: rem($h);
    background-position: rem($l) rem($r);
    &.active{
        background-position: rem($al) rem($ar);
    }
}
#head{
    height: rem(771);
    width: 100%;
    background: #f6c73b url('../../assets/images/head/head-background.jpg') no-repeat top center;
    background-size: contain;
    a{
        float: left;
        display: block;
        width:rem(218);
        position: relative;
        top: rem(666);
        margin-left: rem(23);
    }
    .ruleBtn{
        @include headIcons(79, 0, 0, 0, -89);
    }
    .newsBtn{
        margin-top: rem(9);
        @include headIcons(71, -242, -8, -242, -97);
    }
    .listBtn{
        @include headIcons(79, -483, 0,- 483, -89);
    }
}